<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Serif%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Tembea Kenya</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: "Noto Serif", "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f5f2f0] px-10 py-3">
          <div class="flex items-center gap-4 text-[#181411]">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6_330)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M24 0.757355L47.2426 24L24 47.2426L0.757355 24L24 0.757355ZM21 35.7574V12.2426L9.24264 24L21 35.7574Z"
                    fill="currentColor"
                  ></path>
                </g>
                <defs>
                  <clipPath id="clip0_6_330"><rect width="48" height="48" fill="white"></rect></clipPath>
                </defs>
              </svg>
            </div>
            <h2 class="text-[#181411] text-lg font-bold leading-tight tracking-[-0.015em]">Kenya</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-[#181411] text-sm font-medium leading-normal" href="https://www.kws.go.ke/parks/nairobi-national-park">Nairobi</a>
              <a class="text-[#181411] text-sm font-medium leading-normal" href="https://www.kws.go.ke/content/mombasa-marine-national-park-reserve">Mombasa</a>
              <a class="text-[#181411] text-sm font-medium leading-normal" href="https://www.kws.go.ke/lake-nakuru-national-park">Nakuru</a>
              <a class="text-[#181411] text-sm font-medium leading-normal" href="https://www.jambojet.com/explore/destinations/eldoret/">Eldoret</a>
              <a class="text-[#181411] text-sm font-medium leading-normal" href="https://visitkisumu.go.ke/ruma-national-park/">Kisumu</a>
            </div>

            <div class="slide">
             
          </div>
            <button
              class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 bg-[#f5f2f0] text-[#181411] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
            >
              <div class="text-[#181411]" data-icon="Globe" data-size="20px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24ZM101.63,168h52.74C149,186.34,140,202.87,128,215.89,116,202.87,107,186.34,101.63,168ZM98,152a145.72,145.72,0,0,1,0-48h60a145.72,145.72,0,0,1,0,48ZM40,128a87.61,87.61,0,0,1,3.33-24H81.79a161.79,161.79,0,0,0,0,48H43.33A87.61,87.61,0,0,1,40,128ZM154.37,88H101.63C107,69.66,116,53.13,128,40.11,140,53.13,149,69.66,154.37,88Zm19.84,16h38.46a88.15,88.15,0,0,1,0,48H174.21a161.79,161.79,0,0,0,0-48Zm32.16-16H170.94a142.39,142.39,0,0,0-20.26-45A88.37,88.37,0,0,1,206.37,88ZM105.32,43A142.39,142.39,0,0,0,85.06,88H49.63A88.37,88.37,0,0,1,105.32,43ZM49.63,168H85.06a142.39,142.39,0,0,0,20.26,45A88.37,88.37,0,0,1,49.63,168Zm101.05,45a142.39,142.39,0,0,0,20.26-45h35.43A88.37,88.37,0,0,1,150.68,213Z"
                  ></path>
                </svg>
              </div>
            </button>
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
              style='background-image: url("https://cdn.usegalileo.ai/stability/3a18ee9d-4674-46f4-9a04-c186eed210e6.png");'
            ></div>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="@container">
              <div class="@[480px]:p-4">
                <div
                  class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-xl items-start justify-end px-4 pb-10 @[480px]:px-10"
                  style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://cdn.usegalileo.ai/sdxl10/ed77c7ac-a99f-4ebe-95a4-13bff511d16e.png");'
                >
                <ul>
                  <li><a href="/homepage"><i class="fas fa-tv"></i>Dashboard</a></li>
                  <li><a href="/profile"><i class="far fa-user"></i>Profile</a></li>
                  <li><a href="/"><i class="far fa-heart"></i>Tembea Kenya</a></li>
                  <li><a href="/Translate"><i class="far fa-comments"></i>Translate</a></li>
                  <li><a href="/Posterrand"><i class="far fa-address-book"></i>Post Errand</a></li>
                  <li><a href="/Market"><i class="fab fa-gripfire"></i>Market</a></li>
              </ul>
                  <div class="flex flex-col gap-2 text-left">
                    <h1
                      class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
                    >
                      Explore Kenya
                    </h1>
                    <h2 class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
                      Discover the best of Kenya. From the bustling streets of Nairobi to the pristine beaches of Mombasa, this East African gem is known for its rich culture,
                      diverse wildlife, and breathtaking landscapes.
                    </h2>
                  </div>
                  <label class="flex flex-col min-w-40 h-14 w-full max-w-[480px] @[480px]:h-16">
                    <div class="flex w-full flex-1 items-stretch rounded-xl h-full">
                      <div
                        class="text-[#8a7560] flex border border-[#e6e0db] bg-white items-center justify-center pl-[15px] rounded-l-xl border-r-0"
                        data-icon="MagnifyingGlass"
                        data-size="20px"
                        data-weight="regular"
                      >
                        <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                          <path
                            d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                          ></path>
                        </svg>
                      </div>
                      <input
                        placeholder="Search destinations, attractions, experiences"
                        class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#181411] focus:outline-0 focus:ring-0 border border-[#e6e0db] bg-white focus:border-[#e6e0db] h-full placeholder:text-[#8a7560] px-[15px] rounded-r-none border-r-0 pr-2 rounded-l-none border-l-0 pl-2 text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal"
                        value=""
                      />
                      <div class="flex items-center justify-center rounded-r-xl border-l-0 border border-[#e6e0db] bg-white pr-[7px]">
                        <button
                          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#f2800d] text-[#181411] text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]"
                        >
                          <span class="truncate">Search</span>
                        </button>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <h2 class="text-[#181411] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Must-visit destinations</h2>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/8d1e2819-8316-4cb7-934e-d8df3c6fe8c4.png");'
                ></div>
                <div class="Nairobi" href="Nairobi">
                  <a href="https://www.nairobinationalparkkenya.com/">
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Nairobi</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">Capital city</p>
                </div></a>
              </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div class="Mombasa" href="Mombasa">
                  <a href="https://www.mombasa.go.ke/galleries/attractions/">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/bf29dae3-c31b-4487-8cf4-1e9cc2d10bb1.png");'
                ></div></a>
              </div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Mombasa</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">Coastal city</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div class="Nakuru" href="Nakuru">
                  <a href="https://www.brilliant-africa.com/kenya/lake-nakuru-national-park">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/c899da08-18f2-4b97-94b1-1b208893a712.png");'
                ></div></a>
              </div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Nakuru</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">Lake Nakuru</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div class="Eldoret" href="Eldoret">
                  <a href="https://www.trip.com/travel-guide/attraction/eldoret-22128/tourist-attractions/type-national-parks-71-38383/">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/dc0db6eb-9e30-4920-815b-37d9a15cdf2f.png");'
                ></div></a>
              </div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Eldoret</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">Eldoret</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div class="Kisumu" href="Kisumu">
                  <a href="https://kws.go.ke/content/ndere-island-national-park">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/3b15ff99-705a-46ec-9602-a2e81f97b81c.png");'
                ></div></a>
              </div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Kisumu</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">Lake Victoria</p>
                </div>
              </div>
            </div>
            <h2 class="text-[#181411] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Top-rated hotels</h2>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div class="Hotel" href="Fairmont">
                  <a href="https://www.fairmont.com/?cmpid=google_brx_search-branded_fairmont-e-revsh&gad_source=1&gclid=CjwKCAjwydSzBhBOEiwAj0XN4DB4kFBGLexxZwuKWph8iCsbrw5mNoUoapAnw5C9YqEoa7p5l_KKFhoCFlgQAvD_BwE">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/4fd16b64-8bad-4115-8b20-b291abb600b9.png");'
                ></div></a>
              </div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Fairmont The Norfolk</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">5-star hotel</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">$250/night</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div class="Hotel" href="Villa">
                  <a href="https://www.kempinski.com/en/hotel-villa-rosa">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/88497078-76ca-4d0c-a458-3b2b9135f26c.png");'
                ></div></a>
              </div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Villa Rosa Kempinski</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">5-star hotel</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">$300/night</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div class="Hotel" href="Hemingways">
                  <a href="https://www.hemingways-collection.com/nairobi/">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/80bfda22-5ea3-4a74-8a9d-1a484650ac2d.png");'
                ></div></a>
              </div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Hemingways Nairobi</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">5-star hotel</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">$200/night</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div class="Hotel" href="https://www.sarovahotels.com/whitesands-mombasa/">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/86bdec18-2884-437e-a7fa-3246686e2ce9.png");'
                ></div>
              </div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Sarova Stanley</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">5-star hotel</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">$180/night</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div class="Hotel" href="Tribe">
                  <a href="https://www.tribe-hotel.com/">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/398f2e02-105f-4b95-b3a4-9680c93ae14c.png");'
                ></div></a>
              </div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Tribe Hotel</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">5-star hotel</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">$190/night</p>
                </div>
              </div>
            </div>
            <h2 class="text-[#181411] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Safari tours</h2>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div class="Safari" href="Maasai">
                  <a href="https://www.safaribookings.com/tours/masai-mara?gad_source=1&gclid=CjwKCAjwydSzBhBOEiwAj0XN4LfMRaRzRldU_0MFtu3ostPlPt9wysOGRL5DXnnaYaL-Yf-9Yvp9iRoCGVsQAvD_BwE">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/13f55524-288c-4e1a-a92e-ad499999cb37.png");'
                ></div></a>
              </div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Maasai Mara National Reserve</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">4.9 (2,500 reviews)</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">$150/person</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div class="Safari" href="Amboseli">
                  <a href="https://www.amboseliparkkenya.com/">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/417ecc04-de66-44cd-80d2-d93b78f3a436.png");'
                ></div></a>
              </div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Amboseli National Park</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">4.8 (1,800 reviews)</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">$130/person</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div class="Safari" href="Samburu">
                  <a href="https://www.safaribookings.com/samburu">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/529b9f0c-2fa8-4589-acf9-b55602fb29cb.png");'
                ></div></a>
                <div>
                </div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Samburu National Reserve</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">4.7 (1,200 reviews)</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">$120/person</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/0ffcef31-7e09-44ba-ba87-18ca5fb48a54.png");'
                ></div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Tsavo East National Park</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">4.9 (2,300 reviews)</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">$140/person</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/ca76f5e2-acd9-4b8c-a809-16ac1eae3171.png");'
                ></div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Lake Nakuru National Park</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">4.6 (1,500 reviews)</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">$110/person</p>
                </div>
              </div>
            </div>
            <h2 class="text-[#181411] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Airbnb accommodations</h2>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/686ea541-a82b-41c6-93d3-7451a73b6b52.png");'
                ></div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Private room in boutique hotel</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">5.0 (200 reviews)</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">$100/night</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/58e4e2e9-39be-41e2-ad23-089bfef140f6.png");'
                ></div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Entire house with pool</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">4.8 (150 reviews)</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">$200/night</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/943265a8-4749-478f-afe7-69adb25991a9.png");'
                ></div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Cozy apartment in the heart of the city</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">4.9 (180 reviews)</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">$80/night</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/da2dd7a6-952e-418a-9bf6-adbe35f0164d.png");'
                ></div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Rustic cabin near the mountains</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">4.7 (120 reviews)</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">$90/night</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/c9cc3758-943d-4673-bebf-1ac814c08e84.png");'
                ></div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Luxury penthouse with panoramic views</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">5.0 (300 reviews)</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">$250/night</p>
                </div>
              </div>
            </div>
            <h2 class="text-[#181411] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Hidden gems</h2>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/d74324e5-2394-42c7-88e2-8d025f9e729d.png");'
                ></div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Lake Naivasha</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">4.8 (1,500 reviews)</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">$90/person</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/73872915-4219-46c6-be48-12a7a5523a01.png");'
                ></div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Aberdare National Park</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">4.7 (1,200 reviews)</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">$100/person</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/25d7ce5e-253b-4ca9-818c-b2235e291904.png");'
                ></div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Hell's Gate National Park</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">4.9 (1,800 reviews)</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">$120/person</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/63bca68d-e6f5-48b7-8863-03ea2a60ed91.png");'
                ></div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Mount Longonot</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">4.6 (1,300 reviews)</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">$80/person</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/sdxl10/cca550fb-49e1-4fe4-a010-cf48f3ad022b.png");'
                ></div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Kakamega Rainforest</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">4.5 (1,000 reviews)</p>
                  <p class="text-[#8a7560] text-sm font-normal leading-normal">$110/person</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
